@font-face {
  font-family: "BMWLight";
  src: url("../fonts/BMWTypeNext-Light.20210426144302") format("ttf"); }

@font-face {
  font-family: "BMWBold";
  src: url("../fonts/BMWTypeNext-Bold.20210426144302.ttf") format("ttf"); }
