@font-face {
  font-family: "BMWLight";
  src: url("../fonts/BMWTypeNext-Light.20210426144302") format("ttf"); }

@font-face {
  font-family: "BMWBold";
  src: url("../fonts/BMWTypeNext-Bold.20210426144302.ttf") format("ttf"); }

* {
  font-family: "BMWLight", sans-serif;
  font-size: 1rem;
  color: #666666; }
  @media (max-width: 599px) {
    * {
      font-size: 30px; } }

.container {
  padding: 0 25px;
  margin: 0 auto;
  max-width: 1400px;
  width: 100%; }
  @media (max-width: 599px) {
    .container {
      padding: 0 16px; } }
