.banner-principal {
  position: relative;
}

.splide-desktop {
  display: none;

  @media #{$mq-tablet-large} {
    display: flex;
  }
}

.splide-mobile {

  @media #{$mq-tablet-large} {
    display: none;
  }
}