* {
  font-family: $fontFamilyLight;
  font-size: 1rem;
  color: $cinza-font;

  @media #{$mq-mobile} {
    font-size: 30px;
  }
}

.container {
  padding: 0 25px;
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;

  @media #{$mq-mobile} {
    padding: 0 16px;
  }
}