.header {
  background-color: $branco;
  height: 61px;
  width: 100%;

  transition: all 0.3s ease;
  box-shadow: 0px 3px 6px #00000029;

  @media #{$mq-notebook} {
    height: 150px;
  }

  position: fixed;
  top: 0;
  z-index: 10;

  &__flex {
    height: auto;
    padding: 13px 0;
    width: 100%;

    @media #{$mq-notebook} {
      padding: 30px 0;
    }
    
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // bloco a esquerda no topo
  &__contato {

    // --------------------------------
    //bloco de contato mobile
    // --------------------------------
    &-mobile {
      display: block;
      
      @media #{$mq-notebook} {
        display: none;
      }

      a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      }
      
      span {
        font-size: 0.87rem;
        color: $cinza-font;
        font-family: $fontFamilyBold;
        font-weight: $bold;
        line-height: 0.85rem;
      }
      
      i {
        margin-right: 6px;
        font-size: 0.87rem;
        color: $cinza-font;
        font-weight: $bold;
        line-height: 0.85rem;
      }
    }
  }

  // --------------------------------
    //bloco do topo desktop
    // --------------------------------
  &__desktop {
    display: none;

    @media #{$mq-notebook} {
      display: flex;
      flex-direction: column;
    }
  }

    &__desktop-contato {
      display: flex;
      margin-bottom: 30px;
    }
  
    &__button-default {
      @extend .link-topo;

      background-color: $preto;
      height: auto;
      padding: 12px 18px;
      margin-right: 30px;
      width: auto;

      &:hover {
        background-color: $preto-hover;
      }

      &--whatsapp {
        background-color: $verde;

        &:hover {
          background-color: $verde-hover;
        }
      }

      &:last-of-type {
        margin-right: 0;
      }
    }

    &__desktop-menu {
      display: flex;
      padding: 0 5px;
      
      .header__menuitem {
        margin-right: 40px;
        cursor: pointer;

        &:hover {

          a {
            color: $azul-claro;
          }
        }
        
        a {
          font-size: 0.875rem;
          font-family: $fontFamilyBold;
          font-weight: $bold;
          pointer-events: none;
          padding: 0 10px;
          display: table;
        }
      }
    }

  //bloco a direita no topo 
  &__logo {

    a {
      display: flex;
    }
    
    img {
      width: 34.5px;
      height: auto;

      @media #{$mq-notebook} {
        width: 92px;
      }
    }
  }

  &__button-fixed {

    @media #{$mq-notebook} {
      display: none;
    }

    button {
      @extend .button;
      background-color: $azul-claro;
      color: $branco;
      font-size: 0.875rem;
      height: 45px;
      width: 100%;

      &:hover {
        background-color: $azul-hover;
      }
    }
  }

  //efeito visual para o topo
  &.scroll-on {
    @media #{$mq-notebook} {
      height: 124px;

      // -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
      // -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
      // box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    }

    .dropdown-gallery {
      top: 124px;
    }

    .header__flex {

      @media #{$mq-notebook} {
        padding: 15px 0;
      }
    }
  }
} 