
.showcase {

  &__title {
    margin: 30px 0;
    h2 {
      font-size: 1.25rem;
      text-transform: uppercase;
      text-align: center;
      width: 100%;
    }
  }

  &__grid {
    display: grid;
    width: 100%;

    @media #{$mq-mobile} {

      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(8, 1fr);
      grid-gap: 20px;
    }
  }

    &__item {
      
      @media #{$mq-mobile} {
        margin-bottom: 25px;
      }
    }

      &__figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

        &__titulo {
          color: $cinza-font-escura;
          font-size: 1.25rem;
          line-height: 1.65rem;
          margin: 10px 0 20px 0;
          text-align: left;
        }

      &__buttons {
        margin-bottom: 20px;

        display: flex;
        justify-content: space-between;
      }

        &__button--cotacao {
          @extend .button;
          background-color: $azul-claro;
        }
        
        &__button--contato {
          @extend .button;
          background-color: $cinza-font;
        }
      
      &__share {
        display: flex;

        span {
          font-size: 0.875rem;
        }

        a {

          &:first-of-type {
            margin: 0 16px;
          }
        }

          i {
            font-size: 1.5rem;
          }
      }
}