//Adicionando variaveis de fontes
$fontFamilyLight:  'BMWLight', sans-serif;
$fontFamilyBold:  'BMWBold', sans-serif;

//peso das fonts
$light: '300';
$bold: bold;

//Adicionando váriaveis de estilo geral
$branco: #ffffff;
$preto: #000000;
$cinza-font: #666666;
$cinza-font-escura: #262626;
$cinza-claro: #e6e6e6;
$cinza-claro2: #bbbbbb;
$cinza-escuro: #707070;
$azul-claro: #1C69D4; //usado no hover dos links também
$azul-escuro: #0966AF;
$verde: #25D366;

//cores de hover dos botões
$azul-hover: #0351BE;
$verde-hover: #35AA61;
$preto-hover: #575757;

//Breakpoints
//mobile
$mq-mobile: "(max-width: 599px)";
// tablet
$mq-tablet: "(min-width: 600px)";
// tablet large
$mq-tablet-large: "(min-width: 900px)";
//notebook
$mq-notebook: "(min-width: 1200px)";
//big desktop
$mq-desktop: "(min-width: 1800px)";